NODE_ENV=
PORT=
HOST=
CORS_ORIGIN=

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/smart_expense?schema=public

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

DEFAULT_USER_AVATAR_URL=

EXPIRES_IN_ACCESS_TOKEN=
JWT_SECRET_ACCESS_TOKEN=
EXPIRES_IN_REFRESH_TOKEN=
JWT_SECRET_REFRESH_TOKEN=

MAIL_HOST=
MAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
MAIL_SENDER_ADDRESS=
MAIL_SENDER_NAME=

OTP_EXPIRES_IN=

FRONTEND_URL=
GEMINI_API_KEY=

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ACCESS_KEY_ADMIN=